.box {
  margin: 30px;
  border: 5px solid black;
  width: 400px;
  height: 460px;
  text-align: center;
  border-radius: 10px;
}

.item-img {
  width: 300px;
}

.main {
  display: flex;
  justify-content: center;
}

.main button {
  margin: 10px;
  border: none;
  background-color: white;
}

.main button:hover {
  cursor: pointer;
  background-color: #e8f5ff;
  border-radius: 10px;
}

.win {
  border: 10px solid green;
  color: green;
}
.lose {
  border: 10px solid red;
  color: red;
}
.tie {
  border: 10px solid black;
  color: black;
}
